{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Password Reset Sent" %}{% endblock %}

{% block content %}
<div class="container-fluid full-height d-flex vh-100 p-0">
    <div class="col-lg-6 col-12 text-white d-flex align-items-center justify-content-center">
        <div class="col-md-10 text-center">
            <h3>{% trans "Check your email" %}</h3>
            <p>{% trans "We've emailed you instructions to reset your password." %}</p>
            <a href="{% url 'login' %}" class="btn btn-primary">{% trans "Back to login" %}</a>
        </div>
    </div>

    <div class="col-lg-6 d-none d-lg-flex align-items-center justify-content-center overflow-hidden position-relative bg-cover" style="background-image: url('{% static 'addons/img/banner-password-reset-done-desktop.jpeg' %}');">
    </div>
</div>
{% endblock %}
