{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Reset Password" %}{% endblock %}

{% block content %}
<div class="container-fluid full-height d-flex vh-100 p-0">
    <div class="col-lg-6 col-12 text-white d-flex align-items-center justify-content-center">
        <div class="col-md-10">
            <div class="card-body">
                <h3 class="text-center">{% trans "Forgot your password?" %}</h3>
                <p class="text-center">{% trans "Enter your email to receive reset instructions." %}</p>

                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary w-100">{% trans "Send Reset Link" %}</button>
                    {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <p class="error-message">{{ error }}</p>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <p class="error-message">{{ error }}</p>
                            {% endfor %}
                    {% endif %}
                </form>

                <p class="text-center py-2 m-0">
                    <a href="{% url 'login' %}" class="text-decoration-none text-reset sc-white">{% trans "Back to login" %}</a>
                </p>
            </div>
        </div>
    </div>

        <!-- Segunda div (lado direito) -->
    <div class="col-lg-6 d-none d-lg-flex align-items-center justify-content-center overflow-hidden position-relative bg-cover" style="background-image: url('{% static 'addons/img/banner-password-reset-desktop.jpeg' %}');">
    </div>
</div>
{% endblock %}
