{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Password Reset Complete" %}{% endblock %}

{% block content %}
<div class="container-fluid full-height d-flex vh-100 p-0">
    <div class="col-lg-6 col-12 text-white d-flex align-items-center justify-content-center">
        <div class="col-md-10 text-center">
            <h3>{% trans "Your password has been reset!" %}</h3>
            <p>{% trans "You can now log in with your new password." %}</p>
            <a href="{% url 'login' %}" class="btn btn-primary">{% trans "Log in" %}</a>
        </div>
    </div>

    <div class="col-lg-6 d-none d-lg-flex align-items-center justify-content-center overflow-hidden position-relative bg-cover" style="background-image: url('{% static 'addons/img/banner-password-reset-desktop.jpeg' %}');">
    </div>
</div>
{% endblock %}
