{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Set New Password" %}{% endblock %}

{% block content %}
<div class="container-fluid full-height d-flex vh-100 p-0">
    <div class="col-lg-6 col-12 text-white d-flex align-items-center justify-content-center">
        <div class="col-md-10">
            <h3 class="text-center">{% trans "Enter a new password" %}</h3>

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary w-100">{% trans "Reset Password" %}</button>
            </form>
            {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <p class="error-message">{{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <p class="error-message">{{ error }}</p>
                    {% endfor %}
            {% endif %}
        </div>
    </div>


    <div class="col-lg-6 d-none d-lg-flex align-items-center justify-content-center overflow-hidden position-relative bg-cover" style="background-image: url('{% static 'addons/img/banner-password-reset-desktop.jpeg' %}');">
    </div>
</div>
{% endblock %}
